<div class="table-responsive" id="cartTable">
  <table class="table shopping-summery text-center clean">
    <thead>
      <tr class="main-heading">
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>

      <% items.forEach(item=> { %>

        <tr data-item-id="<%= item.product._id %>">
          <td class="image product-thumbnail"><img src="<%= item.product.productImageUrls[0] %>" alt="#"></td>
          <td class="product-des product-name">
            <h5 class="product-name"><a href="/product/<%= item.product.slug %>">
                <%= item.product.productName %>
              </a></h5>
            </p>
          </td>
          <td class="price" data-title="Price"><span>&#8377;<%= item.product.productPrice %></span></td>
          <td class="text-center" data-title="Stock">
            <div class="detail-qty border radius  m-auto" data-stockqty="<%= item.product.stocks %>" data-productid="<%= item.product._id %>">
              <a class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
              <span class="qty-val qty-<%= item.product._id %>" id="qty-<%= item.product._id %>"
                data-quantity="<%= item.quantity %>">
                <%= item.quantity %>

              </span>

              <a class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
            </div>
          </td>
          <td class="text-right" id="subtotal" data-title="Cart" data-price="<%= item.product.productPrice %>">
            <span id="subtotalValue">
              <%= (item.product.productPrice * item.quantity).toLocaleString('en-IN', { style: 'currency' ,
                currency: 'INR' }) %>
            </span>
          </td>
          <td class="action" onclick="removeProduct('<%= item.product._id %>')" data-title="Remove">
            <a class="text-muted"><i class="fi-rs-trash"></i></a>
            <br>
            <% if (item.product.stocks<item.quantity) { %>
              <span class="text-danger outOfStock" id="outOfStock-<%= item.product._id %>" class="text-muted">out of stock</span>
              <% } else { %>
                <span class="text-danger outOfStock" id="outOfStock-<%= item.product._id %>" class="text-muted"></span>
              <% } %>
          </td>
        </tr>
        <% }) %>
          <tr>
            <td colspan="6" class="text-end">
              <a id="clearCartL" class="text-muted "> <i class="fi-rs-cross-small"></i> Clear Cart</a>
            </td>
          </tr>
    </tbody>
  </table>
</div>

<div class="cart-action mb-20 ">
  <a class="btn" href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue shopping</a>
</div>

<script>

  const clearCartLink = document.getElementById('clearCartL');
  clearCartLink.addEventListener('click', () => {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, clear it!',
    }).then(async (result) => {
      if (result.isConfirmed) {
        const url = '/clear-cart';
        const response = await fetch(url, {
          method: 'delete',
          headers: {
            'Content-Type': 'application/json',
          },
        });
        const result = await response.json();
        if (result.success) {
          window.location.reload();
        } else {
          callAlertify('error', result.message);
        }
      }
    });
  });


</script>

