<div class="col-md-6 col-sm-12 col-xs-12 pt-30 dmWhite bdr">
  <div class="detail-info">
    <h2 class="title-detail h2cl"><%= product.productName %></h2>
    <div class="product-detail-rating">
      <div class="pro-details-brand">
        <span style="color: black;"> Brand: <a href="/shop"><span style="color: #0b3823;">Traction</span></a></span>
        <% const rating=product.productRating %>
        <div class="stars">
          <% for (let i = 1; i <= rating; i++) { %>
          <i style="color: orange;" class="fa-solid fa-star"></i>
          <% } %>
        </div>
      </div>
      <div class="product-rate-cover text-end">
        <div class="product-rate d-inline-block">
          <div class="product-rating" style="width:90%">
          </div>
        </div>
        <!-- <span class="font-small ml-5 text-muted"> (25 reviews)</span> -->
      </div>
    </div>
    <div class="clearfix product-price-cover">
      <div class="product-price primary-color float-left">
        <ins><span class="text-brand">&#8377; <%= product.productPrice %></span></ins>
        <ins><span class="old-price font-md ml-15" style="color: #0b3823;">&#8377; <%= product.productOldPrice %></span></ins>
        <span class="save-price  font-md color3 ml-15 bb"><%= Math.floor(((product.productOldPrice - product.productPrice) / product.productOldPrice) * 100) %>%Off</span>
      </div>
    </div>
    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
    <div class="short-desc mb-30">
      <p><%= product.productDescription %></p>
    </div>
    <div class="product_sort_info font-xs mb-30">
      <ul class="gr">
        <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year Traction
          Brand Warranty</li>
        <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day
          Return
          Policy</li>
        <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
          available</li>
      </ul>
    </div>

    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
    <div class="detail-extralink">
      <!-- <div class="detail-qty border radius">
                <a href="#" class="qty-down"><i
                        class="fi-rs-angle-small-down"></i></a>
                <span class="qty-val">1</span>
                <a href="#" class="qty-up"><i
                        class="fi-rs-angle-small-up"></i></a>
            </div> -->
      <div class="product-extra-link2">
        <% if (product.stocks > 0) { %>
        <button type="submit" id="addToCartButton" class="addTocartButton button button-add-to-cart" data-product-id="<%= product._id %>">Add to Cart</button>
        <% } else { %>
        <button class="button notify-me-btn">Notify Me</button>
        <% } %>
        <a aria-label="Add To Wishlist" class="addToWishlistButton action-btn hover-up" id="addToWishlistButton" data-product-id="<%= product._id %>"><i class="fi-rs-heart"></i></a>
      </div>
    </div>
    <ul class="product-meta font-xs color-grey mt-50">
      <li class="mb-5 bb">ID: <a href="#"><%= product.productNumber %></a></li>
      <li class="mb-5 bb">Tags: <a href="#" rel="tag">TRACK</a>, <a href="#" rel="tag">ACTION</a>, <a href="#" rel="tag">RC</a> </li>
      <li class="bb">Availability: <span class="<%= product.stocks < 1 ? 'text-danger' : 'text-success' %> in-stock ml-5">
          <%= product.stocks < 1 ? 'Out of Stock' : product.stocks %> items in Stock
        </span></li>
    </ul>
  </div>
</div>