<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <%- include("../partials//user-header") %>

</head>

<body>
  <%- include("./components/preloading.ejs") %>
  <%- include("./layouts/navbar.ejs") %>

  <main class="main">
    <%- include("./components/cart/cartPagePath.ejs") %>

    <section class="pt-10 mb-50 cartBg">
      <div class="container">

        <% if (items.length === 0) { %>
        <div class="row">

          <%- include("./components/cart/emptyCartBg.ejs") %>

          <% } else { %>
          <div class="row">
            <div class="col-12">
              <%- include("./components/cart/cartProducts.ejs") %>
              <%- include("./components/cart/cartTotal.ejs") %>
              <%- include("./components/cart/calculateShipping.ejs") %>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </section>
  </main>
  <%- include("./layouts/footer.ejs")%>
  
  <%- include("./script/script.ejs") %>
  
  <!-- cutom ajax -->
  <script src="/user/assets/js/custom/ajaxCart.js"></script>
</body>

</html>