<style>
  address p {
    background-color: #aed4d4;
    margin: 3px;
    padding-left: 2px;
    border-radius: 8px;
  }
</style>
<div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
  <div class="card card-body">
    <div class="row cardRow">
      <% if (addresses?.length > 0) { %>
      <% addresses.forEach(address => { %>
      <div class="col-lg-6 mb-20">
        <div class="card mb-3 mb-lg-0">
          <div class="card-header">
            <% if (address.isBillingAddress) { %>
            <h5 class="mb-0">Billing Address</h5>
            <% } else { %>
            <h5 class="mb-0">Shipping Address</h5>
            <% } %>
          </div>
          <div style="padding: 6px 4px;">
            <address style="padding-bottom: 10px;">
              <p>Name: <%= address.fname %> <%= address.lname %></p>
              <p>Address: <%= address.street_address %></p>
              <p>City: <%= address.city %></p>
              <p>State: <%= address.state %></p>
              <p>Zip Code: <%= address.zipcode %></p>
              <p>Phone: <%= address.phone %></p>
              <p><%= address.country %></p>
            </address>
            <button onclick="editAddress('<%= address._id %>')" class="btn-primary" style="border: none; border-radius: 3px;">Edit</button>
            <button onclick="deleteAddress('<%= address._id %>')" class="btn-danger" style="border: none; border-radius: 3px;">Delete</button>
          </div>
        </div>
      </div>
      <% }) %>
      <% } %>
      <div>
        <button class="card-title btn" id="addAddressBtn">Add new address</button>
      </div>
    </div>
  </div>
</div>
<%- include('./addAddressModal') %>
<%- include('./editAddressModal') %>
<%- include('./script.ejs') %>