<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>

        </div>
        <div>
            <a href="/admin/add-products" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select" id="categorySelect">
                        <option value="all">ALL CATEGORIES</option>
                        <% categories.forEach(category=> { %>
                            <% if(category.active) { %>
                                <option value="<%= category.name %>">
                                    <%= category.name %>
                                </option>
                            <% } %>
                        <% }); %>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <select class="form-select" id="statusSelect">
                        <option value="active">Active</option>
                        <option value="disabled">Disabled</option>
                        <option value="all">Show all</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <% product.forEach((product,index)=> { %>           
                    <article class="itemlist" 
                    data-product-status="<%= product.productStatus %>" 
                    data-product-category="<%= product.productCategory.name %>">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="<%= product.productImageUrls[0] %>" class="img-sm img-thumbnail"
                                            alt="Item">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">
                                            <%= product.productName %>-<%=product.productNumber%>
                                        </h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span> &#8377;<%= product.productPrice %>
                                </span>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-4 col-category">
                                <span>
                                    <%= product.productCategory.name %>
                                </span>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-4 col-stocks">
                                <span
                                    class="badge rounded-pill <%= product.stocks > 0 ? 'alert-success' : 'alert-danger' %>">
                                    <%= product.stocks> 0 ? 'IN STOCK' : 'OUT OF STOCK' %>
                                </span>
                            </div>


                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end d-flex align-items-center justify-content-end">
                                <a href="/admin/edit-product/<%- product.slug %>"
                                    class="btn btn-edit me-2">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a id="deletbtn" onclick="deleteProduct('<%= product._id %>')"
                                    data-product-id="<%= product._id %>"
                                    class="btn btn-delete deleteProductclass">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
            <% }); %>
        </div>
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% if(currentPage> 1) { %>
                    <li class="page-item"><a class="page-link"
                            href="/admin/products?page=<%=currentPage-1%>&limit=<%=limit%>"><i
                                class="material-icons md-chevron_left"></i></a></li>
                    <% } %>
                        <% for (let i=1; i<=totalPages; i++) { %>
                            <% if (i===currentPage) { %>
                                <li class="page-item active"><a class="page-link" href="#">
                                        <%= i %>
                                    </a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link"
                                            href="/admin/products?page=<%=i%>&limit=<%=limit%>">
                                            <%= i %>
                                        </a></li>
                                    <% } %>
                                        <% } %>
                                            <% if (currentPage < totalPages) { %>
                                                <li class="page-item"><a class="page-link"
                                                        href="/admin/products?page=<%=currentPage+1%>&limit=<%=limit%>"><i
                                                            class="material-icons md-chevron_right"></i></a></li>
                                                <% } %>
            </ul>
        </nav>
    </div>
</section>


<script>
    function deleteProduct(productId) {

        swal({
            title: "Are you sure?",
            text: "Once deleted, you will able to find it in Product disabled section!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                fetch(`/admin/product-status/${productId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        if (response.status === 200) {
                            callAlertify('success', 'Product deleted successfully');
                            window.location.reload();
                        } else {
                            throw new Error('Failed to delete product.');
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        callAlertify('error', error.message);
                    });
            }
        });

    }

    var categorySelect = document.getElementById('categorySelect');
    var statusSelect = document.getElementById('statusSelect');
    // Add event listener for change event
    categorySelect.addEventListener('change', filterProducts);
    statusSelect.addEventListener('change', filterProducts);

    // Function to filter the products based on the selected status
    function filterProducts() {
        var selectedCategory = categorySelect.value;
        var selectedStatus = statusSelect.value;
        var productList = document.querySelectorAll('.itemlist');
        productList.forEach(function(product) {
        var productStatus = product.getAttribute('data-product-status');
        var productCategory = product.getAttribute('data-product-category')

        if (
            (selectedCategory === 'all' || productCategory === selectedCategory) &&
            (selectedStatus === 'all' || (selectedStatus === 'active' && productStatus) || (selectedStatus === 'disabled' && !productStatus))
        ) {
            product.style.display = 'block';
        } else {
            product.style.display = 'none';
        }
        });
    }
  // Initial filter on page load
  filterProducts();

</script>