<!DOCTYPE html>
<html class="no-js" lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<head>
  <%- include("../../partials/user-header") %>
  <%- include("../components/preloading.ejs") %>
</head>

<body>
  <%- include("../layouts/navbar.ejs") %>

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
            <div class="padding_eight_all bg-white">
              <div class="heading_s1">
                <h3 class="mb-30">Forgot Password</h3>
              </div>
              <p>Reset password with otp</p>
              <div class="form-group">
                <div class="input-group">
                  <input type="tel" name="phone" placeholder="Phone Number" id="phone" class="form-control">
                  <div class="input-group-append">
                    <button type="button" id="send-otp-btn" class="btn btn-block mx-sm-2" onclick="sendOTP()">Send OTP</button>
                  </div>
                </div>
                <span class="error-message" id="phone-error"></span>
              </div>
              <div class="form-group">
                <div id="otp-group" style="display: none;">
                  <div class="input-group">
                    <input class="form-control" placeholder="OTP" type="text" name="otp" id="otp">
                    <div class="input-group-append">
                      <button type="button" id="verify-button" class="btn btn-block mx-sm-2">Verify OTP</button>
                    </div>
                  </div>
                </div>
                <span id="otp-error" class="error-message"></span>
              </div>
              <div id="password-group" style="display: none;">
                <div class="input-group">
                  <input class="form-control" placeholder="New Password" type="password" name="password" id="password">
                  <div class="input-group-append">
                    <button onclick="resetPassword()" id="verify-button" class="btn btn-block mx-sm-2">Reset Password</button>
                  </div>
                  <span id="password-error" class="error-message"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("../layouts/footer.ejs") %>
  <script>
    var phoneInput = document.getElementById("phone");
    var sendOTPButton = document.getElementById("send-otp-btn");
    sendOTPButton.disabled = true;

    // Add an event listener to the phone input element
    phoneInput.addEventListener("input", function() {
      // Get the phone number entered by the user
      var phone = phoneInput.value;
      var errorMsg = "";

      // Validate the phone number using a regular expression
      if (!phone.match(/^\d{10}$/)) {
        errorMsg = "Please enter a valid 10-digit phone number.";
        document.getElementById("phone-error").innerHTML = '<span style="color:red">' + errorMsg + '</span>';
        sendOTPButton.disabled = true;
      } else {
        document.getElementById("phone-error").innerHTML = "";
        sendOTPButton.disabled = false;
      }
    });

    function sendOTP() {
      // Get the phone number entered by the user
      var phone = document.getElementById("phone").value;
      var errorMsg = "";

      // Validate the phone number using a regular expression
      if (!phone.match(/^\d{10}$/)) {
        errorMsg = "Please enter a valid 10-digit phone number.";
        document.getElementById("phone-error").innerHTML = '<span style="color:red">' + errorMsg + '</span>';
        sendOTPButton.disabled = true;
        return;
      } else {
        sendOTPButton.disabled = true;
        // Send an AJAX request to the server to initiate OTP generation and send it to the provided mobile number
        // Show the OTP input field and verify button
        $.ajax({
          type: 'post',
          url: '/forgot-password/otp',
          data: {
            phone: phoneInput.value.trim()
          },
          success: function(response) {
            document.getElementById('otp-group').style.display = 'block';
            Swal.fire({
              title: 'Otp send',
              icon: 'success',
              text: response.message,
            })
          },
          error: function(xhr, status, error) {
            console.log(error);
            Swal.fire({
              title: 'Error',
              icon: 'error',
              text: 'An error occurred while sending the OTP. Please try again.',
            });
          },
        });
      }
    }

    const verifyBtn = document.getElementById("verify-button");
    const otp = document.getElementById("otp");
    const otpRegex = /^\d{6}$/;
    const otpError = "<strong>Invalid OTP format. Please enter a 6-digit number.</strong>";
    const invalidOtpError = "<strong>The OTP entered is incorrect. Please ensure you have entered the correct OTP and try again.</strong>";

    otp.addEventListener("input", () => {
      let otpErrorText = "";
      if (otp.value.trim() !== "" && !otpRegex.test(otp.value.trim())) {
        otpErrorText = otpError;
      }
      document.getElementById("otp-error").innerHTML = otpErrorText;
      otp.classList.toggle("is-invalid", otpErrorText !== "");
    });

    verifyBtn.addEventListener("click", async (event) => {
      event.preventDefault();
      let isValid = true;
      let otpErrorText = "";

      // Check if the OTP field is empty or invalid
      if (otp.value.trim() === "") {
        otpErrorText = "<strong>OTP is required.</strong>";
        isValid = false;
      } else if (!otpRegex.test(otp.value.trim())) {
        otpErrorText = otpError;
        isValid = false;
      }

      // Display error message if any
      if (!isValid) {
        document.getElementById("otp-error").innerHTML = otpErrorText;
        otp.classList.add("is-invalid");
        return;
      }

      const url = '/forgot-password/otp-verify';
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          otp: otp.value.trim(),
          phone: phoneInput.value.trim()
        })
      };

      fetch(url, requestOptions)
        .then(response => {
          if (!response.ok) {
            throw new Error('something wrong!verification failed');
          }
          return response.json();
        })
        .then(data => {
          if (data.status) {
            document.getElementById('password-group').style.display = 'block';
            Swal.fire({
              title: 'Otp verified successfully',
              icon: 'success',
            });
          } else {
            otpErrorText = invalidOtpError;
            document.getElementById("otp-error").innerHTML = otpErrorText;
            otp.classList.add("is-invalid");
          }
        })
        .catch(error => {
          otpErrorText = invalidOtpError;
          document.getElementById("otp-error").innerHTML = otpErrorText;
          otp.classList.add("is-invalid");
        });

    });

    // Clear error message and class when input field is focused
    otp.addEventListener("focus", () => {
      document.getElementById("otp-error").innerHTML = "";
      otp.classList.remove("is-invalid");
    });


    // Validate the OTP and new password fields
    const passwordInput = document.getElementById('password');
    const passwordError = document.getElementById('password-error');

    // Validate password field as user types
    passwordInput.addEventListener("input", () => {
      const otpInput = document.getElementById('otp');
      const otpError = document.getElementById('otp-error');
      let passwordError = "";
      if (passwordInput.value.trim() === "") {
        passwordError = "<strong>Password is required.</strong>";
      }
      passwordError.innerHTML = passwordError;
      passwordInput.classList.toggle("is-invalid", passwordError !== "");
    });

    function resetPassword() {
      const otpInput = document.getElementById('otp');
      const otpError = document.getElementById('otp-error');
      if (otpInput.value.trim() === '') {
        otpError.textContent = 'Please enter the OTP';
        return;
      }

      if (passwordInput.value.trim() === "") {
        passwordError = "<strong>Password is required.</strong>";
        isValid = false;
      }
      $.ajax({
        type: 'post',
        url: '/reset-password',
        data: {
          phone: document.getElementById('phone').value.trim(),
          // otp: otpInput.value.trim(),
          password: passwordInput.value.trim(),
        },
        success: function(response) {
          // Display a success message and redirect the user to the login page
          if (response.status) {
            Swal.fire({
              title: 'Reset Password',
              icon: 'success',
              text: response.message
            }).then((result) => {
              if (result) {
                window.location.href = '/login';
              }
            });
          } else {
            Swal.fire({
              title: 'Reset Password',
              icon: 'error',
              text: response.message
            })
          }
        },
        error: function(xhr, status, error) {
          Swal.fire({
            title: 'Reset Password',
            icon: 'error',
            text: 'Failed to reset password. Please try again.',
          });
          console.log(error);
        },
      });
    }
    passwordInput.addEventListener("focus", () => {
      passwordError.innerHTML = "";
      passwordInput.classList.remove("is-invalid");
    });
  </script>
  <%- include("../script/script.ejs") %>
</body>

</html>