
<section class="bg-grey-9 section-padding">
    <div class="container pt-15 pb-25">
        <div class="heading-tab d-flex">
            <div class="heading-tab-left wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
            </div>
            <div class="heading-tab-right wow fadeIn animated">
                <ul class="nav nav-tabs right no-border" id="myTab-1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab"
                            data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one"
                            aria-selected="true">Featured</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1"
                            type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1"
                            type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 d-none d-lg-flex">
                <div class="banner-img style-2 wow fadeIn animated">
                    <img src="/user/assets/imgs/banner/banner-9.jpg" alt="">
                    <div class="banner-text">
                        <span>Pop Area</span>
                        <h4 class="mt-5">Save 17% on <br>Traxx</h4>
                        <a href="" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                    <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                        <div class="carausel-4-columns-cover arrow-center position-relative">
                            <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                id="carausel-4-columns-arrows"></div>
                            <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">


                                <% products.forEach(product=>{ %>
                                    <% if(product.productStatus && product.productCategory.active 
                                    && product.productCategory.name === 'RC TRUCKS'|| 'RC CARS') { %>
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/product/<%= product.slug %>">
                                                        <img class="default-img"
                                                            src="<%= product.productImageUrls[0] %>" alt="">
                                                        <img class="hover-img" src="<%= product.productImageUrls[1] %>"
                                                            alt="">
                                                    </a>
                                                </div>
                                               
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <!-- <span class="new">New</span> -->
                                                    <span class="best">Best Sell</span>
                                                    <span class="hot">-<%= Math.floor((product.productOldPrice - product.productPrice) / product.productOldPrice * 100) %>%</span>
                                                    <!-- <span class="sale">Out of stocks</span> -->
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/all-products">
                                                        <%= product.productCategory.name %>
                                                    </a>
                                                </div>
                                                <h2><a href="/product/<%= product.slug %>">
                                                        <%= product.productName %>
                                                    </a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>&#8377;<%= product.productPrice %></span>
                                                    <span class="old-price">
                                                        <%= product.productOldPrice %>
                                                    </span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up addTocartButton" data-product-id="<%= product._id %>"
                                                    ><i class="fi-rs-shopping-bag-add"></i></a>

                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <!--End tab-pane-->
                    <div class="tab-pane fade" id="tab-two-1" role="tabpanel" aria-labelledby="tab-two-1">
                        <div class="carausel-4-columns-cover arrow-center position-relative">
                            <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                id="carausel-4-columns-2-arrows"></div>
                            <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns-2">


                                <% products.forEach(product=>{ %>
                                    <% if(product.productStatus && product.productCategory.active &&
                                        product.productCategory.name==='MARVEL HEROS' ) { %>
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/product/<%= product.slug %>">
                                                        <img class="default-img"
                                                            src="<%= product.productImageUrls[0] %>" alt="">
                                                        <img class="hover-img" src="<%= product.productImageUrls[1] %>"
                                                            alt="">
                                                    </a>
                                                </div>
                                               
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <!-- <span class="new">New</span> -->
                                                    <!-- <span class="best">Best Sell</span> -->
                                                    <span class="hot">Hot</span>
                                                    <!-- <span class="hot">-<%= Math.floor((product.productOldPrice - product.productPrice) / product.productOldPrice * 100) %>%</span>
                                                    <span class="sale">Out of stocks</span> -->
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/all-products">
                                                        <%= product.productCategory.name %>
                                                    </a>
                                                </div>
                                                <h2><a href="/product/<%= product.slug %>">
                                                        <%= product.productName %>
                                                    </a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>&#8377;<%= product.productPrice %></span>
                                                    <span class="old-price">
                                                        &#8377;<%= product.productOldPrice %>
                                                    </span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="addTocartButton action-btn hover-up" data-product-id="<%= product._id %>"
                                                        ><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>


                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-three-1" role="tabpanel" aria-labelledby="tab-three-1">
                        <div class="carausel-4-columns-cover arrow-center position-relative">
                            <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                id="carausel-4-columns-3-arrows"></div>
                            <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns-3">

                                <% products.forEach(product=>{ %>
                                    <% if(product.productStatus && product.productCategory.active &&
                                        product.productCategory.name==='COMICS  & SUPERHEROS' ) { %>
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/product/<%= product.slug %>">
                                                        <img class="default-img"
                                                            src="<%= product.productImageUrls[0] %>" alt="">
                                                        <img class="hover-img" src="<%= product.productImageUrls[1] %>"
                                                            alt="">
                                                    </a>
                                                </div>
                                              


                                                  <div class="product-badges product-badges-position product-badges-mrg">
                                                      <span class="new">New</span>
                                                      <!-- <span class="best">Best Sell</span>
                                                      <span class="hot">Hot</span>
                                                      <span class="hot">-<%= Math.floor((product.productOldPrice - product.productPrice) / product.productOldPrice * 100) %>%</span>
                                                      <span class="sale">Out of stocks</span> -->
                                                  </div>


                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/all-products">
                                                        <%= product.productCategory.name %>
                                                    </a>
                                                </div>
                                                <h2><a href="/product/<%= product._id %>">
                                                        <%= product.productName %>
                                                    </a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>&#8377;<%= product.productPrice %></span>
                                                    <span class="old-price">
                                                        <%= product.productOldPrice %>
                                                    </span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="addTocartButton action-btn hover-up" data-product-id="<%= product._id %>"
                                                       ><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>

                            </div>
                        </div>
                    </div>
                </div>
                <!--End tab-content-->
            </div>
            <!--End Col-lg-9-->
        </div>
    </div>
</section>