<style>
    .card-row .card-body {
        height: 150px;
    }
    @media (max-width: 767px){
      #edit-btn, #delete-btn {
        margin: 1em 0;
      }
    }
    @media (max-width: 767px){
      .select-address-btn {
        margin-top: 2em;
        position: static
      }
    }
    @media (max-width: 991px){
      .select-address-btn {
        margin-top: 1em;
        position: static
      }
      .edit-delete {
        padding: 10px 16px;
      }
    }
</style>

<div class="mb-30">
    <button class="btn btn-primary btn-sm" id="addAddressBtn" style="float: right;">Add new address</button>
</div>

<div class="row card-row">
  <% let shIndex = 0, blIndex = 0; %>
    <% addresses.forEach((address) => { %>
      <% if(address.isShippingAddress) {%>
        <div id="cardBodyId" class="col-md-6" style="width: 100% !important;">
          <div class="card mb-3 my-custom-card-class" addressId="<%= address._id %>">
            <div class="card-body">
              <h4 class="card-title" style="color: brown;">Shipping address - <%= ++shIndex %></h4>
              <label>
                <p>
                  <strong>Deliver to:</strong> <%= address.fname %> <%= address.lname %><br>
                  <strong>Phone:</strong> <%= address.phone %><br>
                  <strong>Email:</strong> <%= address.email %><br>
                  <strong>Street:</strong> <%= address.street_address %>, <%= address.city %>, <%= address.state %>, <%= address.country %>, <%= address.zipcode %><br>
                </p>
              </label>
            </div>
            <button class="select-address-btn" onclick="selectAddress('<%= address._id %>')">Select Address</button>
            <div class="edit-delete">
              <span id="spanbtn-<%= address._id %>" style="display: none;">
                <button onclick="editAddress('<%= address._id %>')" id="edit-btn"  class="btn-primary" style="border: none; border-radius: 3px; width: 4em;">Edit</button>
                <button onclick="deleteAddress('<%= address._id %>')" id="delete-btn" class="btn-danger" style="border: none; border-radius: 3px; width: 4em;">Delete</button>
              </span>
          </div>
          </div>
        </div>
        <% } %>
        <% if(address.isBillingAddress) {%>
          <div id="cardBodyId" class="col-md-6" style="width: 100% !important;">
            <div class="card mb-3 my-custom-card-class" addressId="<%= address._id %>">
              <div class="card-body">
                <h4 class="card-title">Billing Address - <%= ++blIndex %></h4>
                <label>
                  <p>
                    <strong>Name:</strong> <%= address.fname %> <%= address.lname %><br>
                    <strong>Phone:</strong> <%= address.phone %><br>
                    <strong>Email:</strong> <%= address.email %><br>
                    <strong>Street:</strong> <%= address.street_address %>, <%= address.city %>, <%= address.state %>, <%= address.country %>, <%= address.zipcode %><br>
                  </p>
                </label>
              </div>
              <button class="select-address-btn" onclick="selectAddress('<%= address._id %>')">Select Address</button>
              <span id="spanbtn-<%= address._id %>" style="display: none;">
                <button onclick="editAddress('<%= address._id %>')"  class="btn-primary" style="border: none; border-radius: 3px;">Edit</button>
                <button onclick="deleteAddress('<%= address._id %>')" class="btn-danger" style="border: none; border-radius: 3px;">Delete</button>
              </span>
            </div>
          </div>
          <% } %>
      <% }) %>
</div>

<%- include('./addAddressModal.ejs') %>
<%- include('./editAddressModal.ejs') %>